<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
     <div>
        <h2>Add New User</h2>
    </div>
    <div>
        <form action="#" th:action="@{/users/save}" th:object="${user}" method="post" style="max-width: 500px; margin: 0 auto;">
            <div class="border border-secondary rounded p-3">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter First Name" required minlength="3">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter Last Name" required minlength="3">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter Email" required minlength="5">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter Password" required minlength="5">
                </div>
                <div class="form-group">
                    <input type="checkbox" class="" th:field="*{enabled}">Submit</input>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/users'">Cancel</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>